######################################################################
# Drive Config
SLAVE_DRIVE_LABEL=Slavito
SLAVE_DRIVE_UUID=CCA26935A26924E4

#This flag flags slave drive to be mounted with excecution permisions
#false is used to enforce work as storage only. 
#Enable exec → only when needed 🎮
SLAVE_DRIVE_MOUNT_WITH_EXECUTION_PERMISSIONS=true 

######################################################################
# Samba settings
SAMBA_SERVER=192.168.1.40
SAMBA_SHARE=Music
SAMBA_USER=raizen
SAMBA_PASS=supersecretpassword

######################################################################
# Used for Rclone / Google Drive Sync support
RCLONE_REMOTE_NAME=gdrive
# Notice: "RCLONE_REMOTE_PATH=" - means:sync Drive root. 
#   You can also clone a specific folder with RCLONE_REMOTE_PATH=Pc-sync
RCLONE_REMOTE_PATH=
RCLONE_LOCAL_PATH=/home/zarvael/Documents/DriveSync/alejo-drive
RCLONE_SYNC_INTERVAL=5m